html, body {
    background: white;
    height: 100% ;
    margin: 0;
    
}
.imgse{
    background-color: yellow;
    height:5px;
}
.over{
    height:100px;
    width:100px;
    margin-left: 10px;
    margin-top:10px;
}
