{% extends 'base.html' %}

{% block content %}
    <br>
    <h1 class="text-center font-fam" >Articles</h1> 
    <br>
    <!--TODO:: thumbnail sathi upload kartanna image predef resolution mdhe cut karayachi
        TODO::  thumbnail aathvan thevjo w3 var kuth tari pahla hota aapan example with cards
    -->
    
    <div>
        <div class='container-fluid'>
        <div class='row'>
        {% for i in article %}
           
        <a href="{% url 'articles:detail' slug=i.slug %} " style="color:black" >
            <div class=' col-sm-3 text-center' style="padding:10px;" >
                <span class='border border-primary'>
                <div  id="main-" class = "cc well card card-success" style="" >
                <br>
                <h4 style="color: white;font-family: 'Oswald'">{{i.title}}</h4>
               
                <h5 style="color: white;font-family: 'Roboto Condensed';">{{i.snippet}}</h5>
                <h5 style="color: white;font-family: 'Oswald';">{{i.date}}</h5>
                <br>
                </div>
                </span>
                
              
            </div>
           
        </a>
        {% endfor %}
        </div>
        </div>
    </div>
    
  
{% endblock %}