{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
   
    <div class="container-fluid" style="background: #000000;height: auto;">
        <div class="row">
        <div class=""><div class="col-lg-6" style="background: #000000;"><div  class="toppad"><span style="color: #ffffff;font-family: 'Viga';" class="fhome">Hello;<br></span><span class= 'fhome' style="font-family: 'Viga';color: #ffffff;"> I'M HARSHADEEP PAHURKAR AND I'M A PHOTOGRAPHER. </span></div> </div></div>
        <div class="col-lg-6" style="background: #000000;padding: 0;"><img src="{% static 'homediv.jpg' %}" class="img-responsive" /></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container-fluid text-center foot-h" style="color:#000000;">
        <span style="background: #000000; color: #ffffff;padding-left: 10px;padding-right: 10px;">01</span> &nbsp;
        <span>PORTFOLIO</span>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid text-center foot-h" style="color:#000000;">
            <span style="background: #000000; color: #ffffff;padding-left: 10px;padding-right: 10px;">02</span> &nbsp;
            <span>ABOUT</span>
    </div>
    <br>
    <br>
    <div id = "about" class="text-center"><p style="font-family: 'Viga';padding-left: 50px;padding-right:50px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum pharetra turpis, vitae fermentum sapien consectetur sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus tellus est, facilisis vitae dolor ut, semper tristique odio.</p></div>
    <br>
    <br>
    
    
    

{% endblock %}
    